<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
        <!--关注指数-->
        <add key="StarIndexes" value="000300,399006,AU9999,IBOX,NDX100"/>
    </appSettings>
</configuration>
